<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134944932012-v5m54qautosoffoqnp7ne4em1rrkq0nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134944932012-v5m54qautosoffoqnp7ne4em1rrkq0nr</string>
	<key>API_KEY</key>
	<string>AIzaSyCO41MOcf9S9n12lTOt4DXeOtWg3YGRi68</string>
	<key>GCM_SENDER_ID</key>
	<string>134944932012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.fhooe.waldlaeufer</string>
	<key>PROJECT_ID</key>
	<string>waldlaufer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>waldlaufer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134944932012:ios:14be838e067f732af25f09</string>
</dict>
</plist>